* {
    box-sizing: border-box;
  }
.container{
    border: turquoise solid 1px;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}
.container .send{
    background-color: lightblue;

}

.container .receive{
    background-color: darkgrey;

}

span{
    font-style: italic;
}
p{
    color: #000 ;
    font-weight: bold;
}
ul{
    list-style-type: none;
}
/* .mess{
    height: 100px;
} */

#form1{
    background-color: lightgreen;
}
#form2{
    background-color: lightgrey;
}
#form3{
    background-color: lightskyblue;
}