<div class="row">
    <div class="col-sm-3 col-lg-3">
        <ul class="list-group nav-bar" *ngFor="let room of listRooms">
            
                <a [routerLink]="['/tutor/room',room.room_id]" class="list-group-item" >{{room.room_id}}</a>
           
        </ul>
    </div>
    <router-outlet></router-outlet>
    <!-- <div class="col-sm-9 col-lg-9">
        <div class="containers">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 mess">
                    <div class="messages" *ngFor="let m of listMessage">
                        <div class="container" *ngIf="checkSender(m)">
                            <div class="send">
                                <p>{{m.message_content}}</p>
                                <span class="sender">Jame</span>
                                
                            </div>
                        </div>
                        <div class="container" *ngIf="!checkSender(m)">
                            <div class="receive">
                                <p>{{m.message_content}}</p>
                                <span class="sender">Linh</span>
        
                            </div>
                        </div>
                    </div>
                    <div class="send-button">
                        <input type="text" [(ngModel)]="message" placeholder="message">
                        <button (click)="send()">Send</button>
                    </div>
        
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div> -->
</div>

