<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h2 class="card-title text-center" style="color: crimson;">BANNED</h2>

                        <img src="https://cdn0.gamesports.net/edb_player_images/3000/3430.png?1535552630" alt="None">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>>